
/* Palette */
/* Icons #19C1C4;
Icons;hover #6CD7D9;
Primaris
#FBFCFF BLANCO
#6CD7D9 TURQUESA
#D72A7F FUXIA
#333745 NEGRO
#FAEAC1 VAINILLA Light
#F8DF9F VAINILLA 

font-family: 'Great Vibes', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Karla', sans-serif;
*/

/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    font-size: 12px;	
}
h1{
    color:#F8DF9F;
}
.collapse li{
    font-size: 1.8rem;
}
h5{
    font-family: 'Karla', sans-serif;
    font-size: 12px; 
}
h6 h3{
    font-family: 'Karla', sans-serif;
     color: #929292;
}


/*--------------------------------------------------------------
Header styles
--------------------------------------------------------------*/

.nav-link{
    font-size: 15px; 
}
.nav-item{
    font-family: 'Karla', sans-serif;
    font-size: 12px;
}
.navbar-light .navbar-toggler {
    border-color:  #FFFFFF!important; 
}
.logo{
    width: 20%;
    margin-top:1%;
}
#skyLine_illustration{
   width: 100%;
   height: 20vh;
   top:0;
   justify-content: center;
}
a:hover{
    border-bottom: 1px #F8DF9F solid;
}

/*--------------------------------------------------------------
Main styles
--------------------------------------------------------------*/

.slider-container{
    margin-right:5px;
}
.carousel-inner{
    height: 60vh;
}
.div-collection0{
    height: 200px;
    background-color: #6BD7D9;
}
.div-collection1{
    height: 200px;
    background-color: #EFEAB0;
}
.div-collection2{
    height: 200px;
    background-color: #FDAAB6;
}

/*--------------------------------------------------------------
Footer styles
--------------------------------------------------------------*/

.footer-quote{
    font-family: 'Great Vibes', cursive;
}

 /*--------------------------------------------------------------
Responsive
--------------------------------------------------------------*/

