
/* Palette */
/* Icons #19C1C4;
Icons;hover #6CD7D9;
Primaris
#FBFCFF BLANCO
#6CD7D9 TURQUESA
#D72A7F FUXIA
#333745 NEGRO
#FAEAC1 VAINILLA Light
#F8DF9F VAINILLA 

font-family: 'Great Vibes', cursive;
font-family: 'Source Sans Pro', sans-serif;

*/
/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
*{
    color: #929292;
    font-family: 'Source Sans Pro', sans-serif;   
}
@font-face {
    font-family:'Abadi MT Condensed Light';
    src: url(‘/fonts/abadi/ABALC.TTF’);
   
}
body {
    margin: 1%;
}
html{
    font-size: 12px;	
}
h1{
    color:#F8DF9F;
}

h5{
    font-size: 12px; 
}
ul{
    padding: 0;
}
/* Icons */
.fab{
    color:#F1CAAE;
}
hr{
   margin-top:0!important;
   border-top: 1px solid rgba(0, 0, 0, 0.04)!important;
}
ul{
    list-style:none;
}
/*--------------------------------------------------------------
Header styles
--------------------------------------------------------------*/

.nav-link{
    font-size: 15px; 
    border-bottom: 3px solid transparent;
    font-weight: lighter;
}

.nav-item{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
.navbar-light .navbar-toggler {
    border-color:  #FFFFFF!important; 
}
.logo{
    width: 20%;
    margin-top:1%;
}
#skyLine_illustration{
   width: 100%;
   height: 5.7em;
   
}
#skyLine_illustration{
    width: 100%;
    height: 5.7em;
    
 }
 
.nav-link{
    color:#747474;
    letter-spacing: 0.2em;
}
.nav-link:hover{
    border-bottom: 1px #F8DF9F solid;
}∫
.nav-link:active{
    border-bottom: 1px #F8DF9F solid;
}

/*--------------------------------------------------------------
Main styles
--------------------------------------------------------------*/
#slider-container{
    margin-top: 2%;
    margin-bottom: 2%;
}
.div-collection0{
    height: 250px;
    background-color: #6BD7D9;
    border: 5px solid white;
    
}
.div-collection1{
    height: 250px;
    background-color: #EFEAB0;
    border: 5px solid white;
}
.div-collection2{
    height: 250px;
    background-color: #FDAAB6;
    border: 5px solid white;
}
/* Divider */
h2 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    margin-top: 3%;
    margin-bottom: 3%;
}
h2:before {
    border-top: 2px solid #F8DF9F;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 15px; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
}
h2 span { 
    /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
    background: #fff; 
    padding: 0 15px; 
    font-size: 0.6em;
    color:#929292;
    font-weight: lighter;
    letter-spacing: 0.2em
}
/* End Divider */
/* Colllection */
.collection_title{
    font-family:'Abadi MT Condensed Light';
    font-size: 1.90em;
    color: #929292;
    margin-top:3%;
    letter-spacing: 0.2em;
    
}
.card-title{
    color: white;
    margin: 7px 7px 0 7px;
    font-family:'Abadi MT Condensed Light';
    font-size: 1.75em;
    letter-spacing: 0.1em;
}

/*--------------------------------------------------------------
Footer styles
--------------------------------------------------------------*/

.footer-link{
    font-family: 'Source Sans Pro', sans-serif;
    color:#929292;
    font-size:1.1666666666666667em;
    font-weight: lighter;
}
.footer-title{
  color:#D72A7F;
  font-size: 1.6666666666666667em;
  font-weight: bold;
}
.footer-copyright{
    font-family: 'Source Sans Pro', sans-serif;
    color:#929292;
    font-size:1.1666666666666667em;
    font-weight: lighter;
}
.heart-link{
    color:#D72A7F;
}

 /*--------------------------------------------------------------
Responsive
--------------------------------------------------------------*/

@media (min-width: 767px) and (max-width: 991px) {
    .nav_icon{
       display: none;
    } 
    
}

@media (max-width: 767px){
    .nav-link{
        margin-right: 1em;
    } 
   
   
;
}


